body {
  font-family: "Roboto";
  color: black;
}
a {
  text-decoration: none;
}
.logo {
  color: #2196f3;
  font-family: "Raleway";
  font-size: 26px;
  font-style: Bold;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3%;
  text-align: left;
}
.logo:hover {
  color: red;
  letter-spacing: 3%;
}
.logo:focus {
  color: black;
  letter-spacing: 3%;
}
.link-item {
  color: #2196f3;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2%;
  line-height: 100%;
}
.link-item:hover {
  color: red;
  letter-spacing: 2%;
}
.link-item:focus {
  color: black;
  letter-spacing: 2%;
}
.links {
  color: #212121;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2%;
}
.links:hover {
  color: red;
  letter-spacing: 2%;
}
.links:focus {
  color: black;
  letter-spacing: 2%;
}
.phone-link {
  color: #757575;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2%;
}
.phone-link:hover {
  color: red;
  letter-spacing: 2%;
}
.phone-link:focus {
  color: black;
  letter-spacing: 2%;
}
.backcolor {
  color: black;
}
.mainheader-section {
  background-color: #2f303a;
  text-align: center;
}
.main-header {
  color: white;
  font-weight: 900;
  font-size: 44px;
  line-height: 116%;
  letter-spacing: 6%;
}
.button-color {
  background-color: #2196f3;
  color: white;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 6%;
  cursor: pointer;
}
.title-decoration {
  color: #212121;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 3%;
}
.tekst-decoration {
  color: #757575;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 14px;
  line-height: 146%;
  letter-spacing: 3%;
}
.our-work {
  color: #212121;
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  text-align: center;
}
.worker-name {
  color: #212121;
  font-weight: 500;
}
.worker-job {
  color: #757575;
  font-weight: 400;
}
.lastpart {
  background-color: #2f303a;
  color: white;
}
.last-link-item {
  color: white;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2%;
  line-height: 100%;
}
.last-link-item:hover {
  color: red;
  letter-spacing: 2%;
}
.last-link-item:focus {
  color: black;
  letter-spacing: 2%;
}
.last-link {
  color: white;
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 2%;
}
.last-link:hover {
  color: red;
  letter-spacing: 2%;
}
.last-link:focus {
  color: black;
  letter-spacing: 2%;
}
.main-portfolio {
  text-align: center;
}
.button-portfolio {
  background-color: #f5f4fa;
  border-color: #f5f4fa;
  font-family: "Roboto";
  font-weight: 500;
  text-align: center;
  cursor: pointer;
}
.first-button-portfolio {
  background-color: #2196f3;
  border-color: #2196f3;
  color: white;
  font-family: "Roboto";
  font-weight: 500;
  cursor: pointer;
}
.name-of-image {
  color: #212121;
  font-weight: 700;
  letter-spacing: 6%;
}
.theme {
  color: #757575;
  font-weight: 400;
}
